<div class="ml-{{ include.margin-left }} mb-{{  include.margin-bottom }}">
  {%- if site.categories[include.current_category].size > 0 -%}
    <p class="h4">{{ include.list_title | default: "Posts" }}</p>
    <ul class="list-group">
      {%- for post in site.categories[include.current_category] -%}
      <li class="list-group-item">
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5 mb-1">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {% include tag_list.html tags=post.tags  %}
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>
